body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
  vertical-align: center;
  display: center;
  background: url(fon.jpg); 
}

h2 { 
  font-size:120%; 
  color:#ffffff; 
  background: #444444; 
  padding: 4px; 
  margin: 4px;
}

.blue {
  font-size:400%;
  color:#0000ff;
  display: center;
  vertical-align: center;
}

.link {
  background:#FFC7C7C7;
  color:#FF000000;
}

.p {
  
}
