body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
  vertical-align: center;
  display: center;
  background: url(fon.jpg); 
}

h2 { 
  font-size:120%; 
  color:#ffffff; 
  background: #444444; 
  padding: 4px; 
  margin: 4px;
}

.blue {
  font-size:400%;
  color:#0000ff;
  display: center;
  vertical-align: center;
}

.link {
  background:#FFC7C7C7;
  color:#FF000000;
}

.p {}

TABLE {
    width: 100%; /* Ширина таблицы */
    border: 2px solid black; /* Рамка вокруг таблицы */
    background: #778899; /* Цвет фона */
    color: white; /* Цвет текста */
   }
   TD, TH {
    text-align: center; /* Выравнивание по центру */
    padding: 3px; /* Поля вокруг текста */
	border-bottom: 4px double black; /* Двойная линия снизу */
   }
   TH {
    color: white; /* Цвет текста */
    border-bottom: 4px double black; /* Двойная линия снизу */
   }
   .even { /* Стиль для четных колонок */
    background: #ffe4b5; /* Цвет фона */
    color: black; /* Цвет текста */
   }
   .lc { /* Стиль для первой колонки */
    text-align: left; /* Выравнивание по левому краю */
    color: #fffacd; /* Цвет текста */
   }
